<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
    </ion-toolbar>
    </ion-header>


<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>

    <ion-item-sliding>

      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="success">001</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Bulbasaur</h2>
            <ion-badge color="success">Grass</ion-badge>
            <ion-badge color="tertiary">Poison</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  
    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="danger">004</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Charmander</h2>
            <ion-badge color="danger">Fire</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
        </ion-thumbnail>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="primary">007</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="primary">Water</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="warning">025</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="warning">Eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="success">154</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Meganium</h2>
          <ion-badge color="success">Grass</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/154.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="medium">016</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pidgey</h2>
          <ion-badge color="medium">Normal</ion-badge>
          <ion-badge color="medium">Flying</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/016.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">059</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Arcanine</h2>
          <ion-badge color="danger">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/059.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">038</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Ninetales</h2>
          <ion-badge color="danger">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/038.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">078</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Rapidash</h2>
          <ion-badge color="danger">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/078.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>

   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="warning">170</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Mareep</h2>
          <ion-badge color="warning">Eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/179.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
     
   </ion-item-sliding>
</ion-content>
